<!-- Common head section for all pages -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ cv.personal_info.name }}">
<meta name="theme-color" content="#286983">
<link rel="stylesheet" href="css/main.css">
<link rel="manifest" href="manifest.json">
<link rel="icon" type="image/png" sizes="192x192" href="img/icon-192.png">
<link rel="icon" type="image/png" sizes="512x512" href="img/icon-512.png">
<link rel="apple-touch-icon" href="img/icon-192.png">
